section.sec-also-buy
    .container
        .also-buy__title.title С этим товаром покупают
        .body-also-buy
            .swiper-container.also-buy-container
                .swiper-wrapper.also-buy-wrapper
                   .swiper-slide.also-buy-slide
                       .news-el
                           a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                               .news__sale -10%
                           .news__price
                               .news__priceNew 50 000р
                               .news__priceOld 50 000р
                           .news__descriptin Промышленная
                           .news__btn.button Добавить в корзину
                   .swiper-slide.also-buy-slide
                       .news-el
                           a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                               .news__sale -10%
                           .news__price
                               .news__priceNew 50 000р
                               .news__priceOld 50 000р
                           .news__descriptin Промышленная
                           .news__btn.button Добавить в корзину
                   .swiper-slide.also-buy-slide
                       .news-el
                           a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                               .news__sale -10%
                           .news__price
                               .news__priceNew 50 000р
                               .news__priceOld 50 000р
                           .news__descriptin Промышленная
                           .news__btn.button Добавить в корзину
                   .swiper-slide.also-buy-slide
                       .news-el
                           a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                               .news__sale -10%
                           .news__price
                               .news__priceNew 50 000р
                               .news__priceOld 50 000р
                           .news__descriptin Промышленная
                           .news__btn.button Добавить в корзину