section.sec-catalog1
    .container
        .body-catalog1
           .catalog1-card
               a.catalog1-card__title(href="#") Промышленные увлажнитель воздуха
               .wrapper-preview-link
                   .catalog1-card-preview(style="background-image: url('img/catalog/card1.png')")
                   .catalog1-card-links
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
           .catalog1-card
               a.catalog1-card__title(href="#") Промышленные увлажнитель воздуха
               .wrapper-preview-link
                   .catalog1-card-preview(style="background-image: url('img/catalog/card2.png')")
                   .catalog1-card-links
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
           .catalog1-card
               a.catalog1-card__title(href="#") Промышленные увлажнитель воздуха
               .wrapper-preview-link
                   .catalog1-card-preview(style="background-image: url('img/catalog/card3.png')")
                   .catalog1-card-links
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
           .catalog1-card
               a.catalog1-card__title(href="#") Промышленные увлажнитель воздуха
               .wrapper-preview-link
                   .catalog1-card-preview(style="background-image: url('img/catalog/card1.png')")
                   .catalog1-card-links
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические
                       a.catalog1-card-link(href="#") Промышленные увлажнители изотермические