.body-catalog
    .catalog-title  Промышленные увлажнитель воздуха
    .top-btn
        .wrapper-sort
            .sort-title Сортировать
            .wrapper-size
                .wrapper-input
                    input(type="hidden" value="")
                    .choice-of-size.select-value.catalog-sort  возрастанию цены

                .ii-product__selectors-wrp.js_size_selector
                    .wrapper-list
                        .list
                            .list__itams.inp-desc(data-value="1") по возрастанию цены
                            .list__itams.inp-mobl(data-value="1") ценa ↑
                            .list__itams.inp-desc(data-value="2") по убыванию цены
                            .list__itams.inp-mobl(data-value="2") ценa ↓
                            .list__itams(data-value="3")  по пулярности
                            .list__itams(data-value="4")  по новизне

        .wrapper-btn-filter
            img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/filter.svg" data-src-small="img/ic/filter.svg" alt="")


    .wrapper-catalog-items
        .catalog-item__card.catalog-card
            a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                .catalog-card__sale 10%
            .news__price
                .news__priceNew 50 000р
                .news__priceOld 50 000р
            a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
            ul.catalog-card__list
                li.catalog-card__li
                    span.text Температурный режим в камере, °С:
                    span.num -25…-15
                li.catalog-card__li
                    span.text Рекомендуемый объём холодильной камеры,м³:
                    span.num 28-36
                li.catalog-card__li
                    span.text Номинальная холодопроизводительность:
                    span.num 3,34 Вт
            .catalog-card__btn.button Добавить в корзину
        .catalog-item__card.catalog-card
            a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                .catalog-card__sale 10%
            .news__price
                .news__priceNew 50 000р
                .news__priceOld 50 000р
            a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
            ul.catalog-card__list
                li.catalog-card__li
                    span.text Температурный режим в камере, °С:
                    span.num -25…-15
                li.catalog-card__li
                    span.text Рекомендуемый объём холодильной камеры,м³:
                    span.num 28-36
                li.catalog-card__li
                    span.text Номинальная холодопроизводительность:
                    span.num 3,34 Вт
            .catalog-card__btn.button Добавить в корзину
        .catalog-item__card.catalog-card
            a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                .catalog-card__sale 10%
            .news__price
                .news__priceNew 50 000р
                .news__priceOld 50 000р
            a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
            ul.catalog-card__list
                li.catalog-card__li
                    span.text Температурный режим в камере, °С:
                    span.num -25…-15
                li.catalog-card__li
                    span.text Рекомендуемый объём холодильной камеры,м³:
                    span.num 28-36
                li.catalog-card__li
                    span.text Номинальная холодопроизводительность:
                    span.num 3,34 Вт
            .catalog-card__btn.button Добавить в корзину
        .catalog-item__card.catalog-card
            a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                .catalog-card__sale 10%
            .news__price
                .news__priceNew 50 000р
                .news__priceOld 50 000р
            a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
            ul.catalog-card__list
                li.catalog-card__li
                    span.text Температурный режим в камере, °С:
                    span.num -25…-15
                li.catalog-card__li
                    span.text Рекомендуемый объём холодильной камеры,м³:
                    span.num 28-36
                li.catalog-card__li
                    span.text Номинальная холодопроизводительность:
                    span.num 3,34 Вт
            .catalog-card__btn.button Добавить в корзину
        .catalog-item__card.catalog-card
            a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                .catalog-card__sale 10%
            .news__price
                .news__priceNew 50 000р
                .news__priceOld 50 000р
            a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
            ul.catalog-card__list
                li.catalog-card__li
                    span.text Температурный режим в камере, °С:
                    span.num -25…-15
                li.catalog-card__li
                    span.text Рекомендуемый объём холодильной камеры,м³:
                    span.num 28-36
                li.catalog-card__li
                    span.text Номинальная холодопроизводительность:
                    span.num 3,34 Вт
            .catalog-card__btn.button Добавить в корзину
