.body-saitbar
    .close-btn-saitbar
        img.b-lazy( src="img/ic/del.svg" alt="")
    .wrapper-catalog-saitbar
        .body-saitbar__title Категории
        .wrapper-dropDownList
            .dropDownList-title.dropDownList__title Декоративные штукатурки
            .dropDownList-hidden(style="display: none;")
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические


        .wrapper-dropDownList
            .dropDownList-title.dropDownList__title Тепловые насосы
            .dropDownList-hidden(style="display: none;")
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические


        .wrapper-dropDownList
            .dropDownList-title.dropDownList__title Холодильные сплит-системы
            .dropDownList-hidden(style="display: none;")
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические


        .wrapper-dropDownList
            .dropDownList-title.dropDownList__title Холодильные камеры
            .dropDownList-hidden(style="display: none;")
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические


        .wrapper-dropDownList
            .dropDownList-title.dropDownList__title Декоративные штукатурки
            .dropDownList-hidden(style="display: none;")
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические
                a(href="#").dropDownList__link-saitbar Промышленные увлажнители изотермические



    .wrapper-filter-saitbar
        .body-saitbar__title Фильтр
        .wrapper-filter
            .filter__title Цена
            .filter-slider-price
                .range(data-width="100" data-type="double" data-units="")
                    .range-fill
                    span.min-range-item(data-value="0")
                    span.max-range-item(data-value="20000")

                .info
                    .min-box
                        span.min-price
                        span р
                    .max-box
                        span.max-price
                        span р

        .wrapper-filter
            .filter__title Температурный режим в камере, °С
            .wrapper-checkbox
                .checkbox
                    input#temperature1( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature1").checkbox__label от -25 до -15
                .checkbox
                    input#temperature2( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature2").checkbox__label от -5 до +10
                .checkbox
                    input#temperature11( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature11").checkbox__label от -25 до -15
                .checkbox
                    input#temperature22( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature22").checkbox__label от -5 до +10

        .wrapper-filter
            .filter__title Рекомендуемый объём холодильной камеры, м³
            .wrapper-checkbox
                .checkbox
                    input#temperature10( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature10").checkbox__label от -25 до -15
                .checkbox
                    input#temperature20( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature20").checkbox__label от -5 до +10
                .checkbox
                    input#temperature30( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature30").checkbox__label от -25 до -15
                .checkbox
                    input#temperature40( type="checkbox" name="agreement").checkbox__input._req
                    label(for="temperature40").checkbox__label от -5 до +10


