section.sec-seo-text
    .container
        .body-seo-text
            h2 STCOOL
            p – это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
            p ООО «Источник Холода» - официальный дистрибьютор холодильного оборудования, выпускаемого в России под брендом ISTCOOL. Расчёт и монтаж, гарантия и сервис – всё это и даже больше у нас есть всегда, и всё, как обычно, в лучшем виде уже долгие годы!