//ОСНОВНЫЕ СТИЛИ
@import "fonts.scss";
@import "defuld/mixins.scss";
@import "defuld/reset_style.scss";
@import "defuld/fonts";
@import "defuld/origin_style.scss";
@import "defuld/table.scss";

//component
@import "../component/dropDownLlist/scss/dropDownLlist.scss";
@import "../component/Tabs/scss/tabs.scss";
@import "../component/InputList/scss/InpuList.scss";
@import "../component/map/scss/map.scss";
@import "../component/Modals/scss/modals.scss";
@import "../component/Quantity/scss/quantity.scss";


//basic
@import "basic/header.scss";
@import "basic/footer.scss";
@import "basic/menu.scss";
@import "basic/modal.scss";
@import "basic/title-page.scss";
@import "basic/crumbs.scss";
@import "basic/pagenation.scss";
@import "basic/cooki.scss";
//@import "basic/card-goods.scss";
//@import "basic/card-news.scss";
@import "basic/radio_checkbox.scss";
@import "basic/sher.scss";
//@import "basic/pagenation.scss";


//PAGES

//page main
@import "main/first-screen.scss";
@import "main/catalog.scss";
@import "main/advantages.scss";
@import "main/baren.scss";
@import "main/news.scss";
@import "main/text-picture.scss";
@import "main/articles.scss";
@import "main/hit.scss";


//page making-order
@import "making-order/inputs.scss";
@import "making-order/order-conposition.scss";

//page basket
@import "basket/card.scss";

//page catalog
@import "catalog/card.scss";
@import "catalog/seo-text.scss";
@import "catalog/second-level.scss";
@import "catalog/saitbar.scss";
@import "catalog/catalog.scss";

//page card-good
@import "card-good/slider-info.scss";
@import "card-good/additionalOptions.scss";
@import "card-good/also-buy.scss";

//page contacts
@import "contacts/contacts.scss";
@import "contacts/slider.scss";

//page about_us
@import "about_us/description.scss";
@import "about_us/bank-details.scss";

//page stocks
@import "stocks/card.scss";

//page articles
@import "articles/external.scss";

//page favorites
@import "favorites/favorites.scss";

//page montage
@import "montage/montage.scss";

//page price-list
@import "price-list/price-list.scss";


.column{
  width: 100%;
  background: #F8F8F8;
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 30px;
  @include mq('tablet-wide') {
    width: 70%;
    grid-template-columns: auto 1fr;
  }

  &__img{

    img{
      max-width: 100%;
      @include maq('tablet-wide') {
        width: 100%;
      }
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column-list__title{
    @include adaptiv-font(30,24);
    font-weight: bold;
    margin-bottom: 15px;
  }
  ul{
      li{
        list-style: disc;
        color: red;
        @include adaptiv-font(20,16);
        &:hover{
          list-style: none;
          a{
            color: red;
          }
        }
        a{
          color: #161616;
          &:hover{
            text-decoration: none;
          }
        }

      }
  }
}


