section.sec-about-us-bank-details
    .container
        .body-about-us-bank-details
            h2 Реквизиты
            h3 ДЛЯ ФИЗИЧЕСКИХ ЛИЦ
            p <b>Адрес:</b> 350028, Краснодарский край, г. Краснодар, ул. Героев-Разведчиков д. 17/1 кв.143
            p <b>ИНН:</b> 422922641590
            p <b>ОГРНИП:</b> 320237500183922
            p <b>Р/с:</b> 40802810800280001315
            p <b>Банк:</b> КБ «КУБАНЬ КРЕДИТ» ООО г. Краснодар
            p <b>к/с:</b> 30101810200000000722
            p <b>БИК:</b> 040349722
            br
            h3 ДЛЯ ФИЗИЧЕСКИХ ЛИЦ
            p Адрес: 350028, Краснодарский край, г. Краснодар, ул. Героев-Разведчиков д. 17/1 кв.143
            p ИНН: 422922641590
            p ОГРНИП: 320237500183922
            p Р/с: 40802810800280001315
            p Банк: КБ «КУБАНЬ КРЕДИТ» ООО г. Краснодар
            p к/с: 30101810200000000722
            p БИК: 040349722