section.sec-about-us-description
    .container
        .body-about-us-description
            h2 ISTCOOL это умное охлаждение
            h3 ISTCOOL это умное охлаждение
            p <b>ISTCOOL</b> – это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
            p <b>ООО «Источник Холода»</b> - официальный дистрибьютор холодильного оборудования, выпускаемого в России под брендом ISTCOOL. Расчёт и монтаж, гарантия и сервис – всё это и даже больше у нас есть всегда, и всё, как обычно, в лучшем виде уже долгие годы!
            p Наша компания, основанная высококлассными специалистами, настоящими дипломированными инженерами-холодильщиками, опытными мастерами своего дела, на протяжении нескольких лет с успехом и энтузиазмом реализует проекты в сфере промышленного и коммерческого холода. Наш опыт, наши знания и творческий подход позволяют нам блистательно решать все задачи, которые наши клиенты ставят перед нами, не стесняясь своих желаний и не ограничивая полёт своей фантазии. Бросьте нам достойный вызов, и Вы сможете проверить наши таланты и умения на прочность!
            ul
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta fugit tempore. Ad adipisci asperiores autem debitis delectus dolores eius eos esse molestias saepe sapiente suscipit tempore tenetur, ut vel!
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta fugit tempore. Ad adipisci asperiores autem debitis delectus dolores eius eos esse molestias saepe sapiente suscipit tempore tenetur, ut vel!
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta fugit tempore. Ad adipisci asperiores autem debitis delectus dolores eius eos esse molestias saepe sapiente suscipit tempore tenetur, ut vel!
            .wrapper-about-us-description__img
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/about_us.png" data-src-small="img/about_us.png" alt="")
