section.sec-contacts
    .container
        .body-contacts
            .contacts__info
                .wrapper-block-info
                    .block-info__title
                        .info-title__ic
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/time.svg" data-src-small="img/ic/time.svg" alt="")
                        .info-title__title Время работы:
                    .block-text
                        p <b>Пн-Сб:</b>  8:00 - 20:00 <br>
                        p <b>Вс:</b> по договорённости
                .wrapper-block-info
                    .block-info__title
                        .info-title__ic
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/point-map.svg" data-src-small="img/ic/point-map.svg" alt="")
                        .info-title__title Адресс:
                    .block-text
                        p г. Краснодар, 350042, ул. Садовая, 218
                .wrapper-block-info
                    .block-info__title
                        .info-title__ic
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/tel.svg" data-src-small="img/ic/tel.svg" alt="")
                        .info-title__title Телефон:
                    .block-text
                        a(href="tel: 88002010231") 8 800 201 02 31
                        a(href="tel: 88002010231") 8 800 201 02 31
                .wrapper-block-info
                    .block-info__title
                        .info-title__ic
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/mail.svg" data-src-small="img/ic/mail.svg" alt="")
                        .info-title__title E-mail:
                    .block-text
                        a(href="mailto:istholod@yandex.ru") istholod@yandex.ru
            .contacts__map
                .wrapper-map
                    #map