.container
    .column
        .column__img
            img(src="img/card.png")

        .column__list.column-list
            .column-list__title Обувные системы
            ul
                li <a href="#"> Система 2-х секционная</a>
                li <a href="#"> Система 3-х секционная</a>
                li <a href="#"> Система 4-х секционная</a>
                li <a href="#"> Система 5-х секционная</a>