doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title istcool
        link(rel="stylesheet" href="css/style.min.css")

    body
        include pug/basic/header
        .container
            table.table-21
                tr.tr
                    td(rowspan='3')
                        span &tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&acy;
                        div &vcy;&ncy;&ucy;&tcy;&rcy;&icy; &kcy;&acy;&mcy;&iecy;&rcy;&ycy;
                    td(rowspan='3')
                        span &mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy;
                        div
                            | &tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&acy;
                            div &scy;&ncy;&acy;&rcy;&ucy;&zhcy;&icy; &kcy;&acy;&mcy;&iecy;&rcy;&ycy;
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-121") csh 121
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-125") csh 125
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-137") csh 137
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-153") csh 153
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-168") csh 168
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-193") csh 193
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-3120") csh 3120
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-3160") csh 3160
                    td
                        span
                            a(href="https://istcool-market.ru/catalog/split-sistemy/vysokotemperaturnye-split-sistemy/vysokotemperaturnaya-split-sistema-istcool-csh-3190") csh 3190
                tr
                    td(colspan='9')
                        span
                            | &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy;&ycy;&jcy; &ocy;&bcy;&hardcy;&iocy;&mcy; &khcy;&ocy;&lcy;&ocy;&dcy;&icy;&lcy;&softcy;&ncy;&ocy;&jcy; &kcy;&acy;&mcy;&iecy;&rcy;&ycy;, &pcy;&rcy;&icy; &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;&ncy;&ocy;&mcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&icy; &ocy;&khcy;&lcy;&acy;&zhcy;&dcy;&iocy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy;
                tr
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                    td
                        span v, &mcy;&sup3;
                tr
                    td(rowspan='5')
                        span 15&deg;&scy;
                    td
                        span 20&deg;&scy;
                    td
                        span 21
                    td
                        span 25
                    td 37
                    td 53
                    td 68
                    td 93
                    td 120
                    td 160
                    td 190
                tr
                    td
                        span 25&deg;&scy;
                    td 18
                    td 21
                    td 31
                    td 42
                    td 54
                    td 76
                    td 99
                    td 135
                    td 156
                tr
                    td
                        span 30&deg;&scy;
                    td 16
                    td 17
                    td 25
                    td 31
                    td 42
                    td 61
                    td 79
                    td 101
                    td 135
                tr
                    td
                        span 35&deg;&scy;
                    td 13
                    td 14
                    td 21
                    td 25
                    td 31
                    td 47
                    td 61
                    td 85
                    td 110
                tr
                    td
                        span 40&deg;&scy;
                    td 11
                    td 12
                    td 16
                    td 21
                    td 27
                    td 33
                    td 54
                    td 72
                    td 92
                tr
                    td(rowspan='5')
                        span 10&deg;&scy;
                    td
                        span 20&deg;&scy;
                    td 16
                    td 19
                    td 29
                    td 48
                    td 56
                    td 77
                    td 89
                    td 119
                    td 139
                tr
                    td
                        span 25&deg;&scy;
                    td 13
                    td 17
                    td 24
                    td 39
                    td 47
                    td 63
                    td 75
                    td 99
                    td 125
                tr
                    td
                        span 30&deg;&scy;
                    td 11
                    td 15
                    td 19
                    td 29
                    td 39
                    td 54
                    td 69
                    td 90
                    td 111
                tr
                    td
                        span 35&deg;&scy;
                    td 10
                    td 13
                    td 17
                    td 24
                    td 28
                    td 39
                    td 59
                    td 77
                    td 99
                tr
                    td
                        span 40&deg;&scy;
                    td 9
                    td 11
                    td 15
                    td 20
                    td 25
                    td 31
                    td 49
                    td 67
                    td 85
                tr
                    td(rowspan='5')
                        span 5&deg;&scy;
                    td
                        span 20&deg;&scy;
                    td 15
                    td 18
                    td 27
                    td 42
                    td 51
                    td 65
                    td 79
                    td 108
                    td 136
                tr
                    td
                        span 25&deg;&scy;
                    td 12
                    td 16
                    td 20
                    td 37
                    td 44
                    td 55
                    td 72
                    td 93
                    td 119
                tr
                    td
                        span 30&deg;&scy;
                    td 10
                    td 14
                    td 18
                    td 25
                    td 35
                    td 46
                    td 64
                    td 86
                    td 104
                tr
                    td
                        span 35&deg;&scy;
                    td 9
                    td 12
                    td 16
                    td 21
                    td 26
                    td 35
                    td 55
                    td 73
                    td 95
                tr
                    td
                        span 40&deg;&scy;
                    td 8
                    td 10
                    td 14
                    td 18
                    td 23
                    td 18
                    td 46
                    td 62
                    td 79


        include pug/basic/footer
        //include pug/basic/cooki
        include pug/basic/modals

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js")
        script(src="js/script.min.js")


