.sec-favorites{

}

.body-favorites{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  @include mq('tablet-wide') {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include mq('desktop1350') {
    grid-template-columns: repeat(4, minmax(200px,236px));
  }
}
.favorites_el{
  .catalog-card__btn{
    @include adaptiv-font(14,13.5);
  }
}