section.sec-card-basket
    .container
        .body-basket
            .wrapper-tablet-title
                .tablet-title__el
                .tablet-title__el наименование
                .tablet-title__el цена за шт
                .tablet-title__el кол-во
                .tablet-title__el цена общая

            .basket-card
                .basket-card__img
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")

                .basket-card__content

                    .basket-card__name  6Цветочная камера ISTCOOL FCR 386 Цветочная камера ISTCOOL FCR 386 Цветочная камера ISTCOOL FCR 386 Цветочная камера ISTCOOL FCR 386 Цветочная камера ISTCOOL FCR 386

                    .wrapper-price
                        .price-newse 4 0517 р
                        .price-olde 84 051,67 р


                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg" alt="")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg" alt="")




                    .wrapper-price.all
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р


                .wrapper-dropDownList
                    .wraapper-tit-pri
                        .dropDownList-title Дополнительные опцции

                        .wrapper-price
                            .price-newse 84 051,67 р
                            .price-olde 84 051,67 р
                    .dropDownList-hidden(style="display: none;")
                        .checkbox
                            input#formAgreement( type="checkbox" name="agreement").checkbox__input._req
                            label(for="formAgreement").checkbox__label
                                .namedop Освещение для цветочной камеры ISTCOOL
                                .wrapper-price
                                    .price-newse 84 051,67 р
                                    .price-olde 84 051,67 р

                        .checkbox
                            input#formAgreement2( type="checkbox" name="agreement").checkbox__input._req
                            label(for="formAgreement2").checkbox__label
                                .namedop Освещение для цветочной камеры ISTCOOL
                                .wrapper-price
                                    .price-newse 84 051,67 р
                                    .price-olde 84 051,67 р



            .basket-card
                .basket-card__img
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")

                .basket-card__content

                    .basket-card__name Цветочная камера ISTCOOL FCR 386

                    .wrapper-price
                        .price-newse 4 051 р
                        .price-olde 84 051,67 р


                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg" alt="")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg" alt="")



                    .wrapper-price
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р


                .wrapper-dropDownList
                    .wraapper-tit-pri
                        .dropDownList-title Дополнительные опцции

                        .wrapper-price
                            .price-newse 84 051,67 р
                            .price-olde 84 051,67 р
                    .dropDownList-hidden(style="display: none;")
                        .checkbox
                            input#formAgreement( type="checkbox" name="agreement").checkbox__input._req
                            label(for="formAgreement").checkbox__label
                                .namedop Освещение для цветочной камеры ISTCOOL
                                .wrapper-price
                                    .price-newse 84 051,67 р
                                    .price-olde 84 051,67 р

                        .checkbox
                            input#formAgreement2( type="checkbox" name="agreement").checkbox__input._req
                            label(for="formAgreement2").checkbox__label
                                .namedop Освещение для цветочной камеры ISTCOOL
                                .wrapper-price
                                    .price-newse 84 051,67 р
                                    .price-olde 84 051,67 р



            .basket-card
                .basket-card__img
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")

                .basket-card__content

                    .basket-card__name Цветочная камера ISTCOOL FCR 386

                    .wrapper-price
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р


                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg" alt="")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg" alt="")



                    .wrapper-price
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р


                .wrapper-dropDownList
                    .wraapper-tit-pri
                        .dropDownList-title Дополнительные опцции

                        .wrapper-price
                            .price-newse 84 051,67 р
                            .price-olde 84 051,67 р
                    .dropDownList-hidden(style="display: none;")
                        .checkbox
                            input#formAgreement( type="checkbox" name="agreement").checkbox__input._req
                            label(for="formAgreement").checkbox__label
                                .namedop Освещение для цветочной камеры ISTCOOL
                                .wrapper-price
                                    .price-newse 84 051,67 р
                                    .price-olde 84 051,67 р

                        .checkbox
                            input#formAgreement2( type="checkbox" name="agreement").checkbox__input._req
                            label(for="formAgreement2").checkbox__label
                                .namedop Освещение для цветочной камеры ISTCOOL
                                .wrapper-price
                                    .price-newse 84 051,67 р
                                    .price-olde 84 051,67 р



            include itog