.body-itogi
    .wrapper-promo
        .promo-title Промокод:
        input.input
        .promo-btn.button Применить


    .wrapper-result
        .title-result Товаров на сумму:
        .kolvo 9 426 296,00 р
        .title-result Промокод:
        .kolvo Холодвжару
        .title-result Скидка:
        .kolvo.sale 1 208 415,66 р
        .title-result Доставка
        .kolvo 3 000 р
        .title-itog Итого:
        .itog-summ 8 217 880,34 р

    .wrapper-result-btn
        .itogi-btn.button Оформить заказ
        .itogi-btn.button-orange Купить в кредит
