section.sec-otz(style="background-image: url('img/bg.png');")
    .container
        .std__h-wrap.partners__title-wrap
            .std__h.partners__title Отзывы гостей

        .body-otz
            .swiper-container.otz-container
                .swiper-wrapper.otz-wrapper
                    .swiper-slide.otz-slide
                        p(style="background-image: url('img/kav.svg');") Хочу поделится приятными воспоминаниями об отдыхе, проведённом в туристическом комплексе горное настроение. У нас был прекрасный коттедж , вместимостью до 20 человек с сауной и бильярдной. В стоимость входит завтрак, у нас была пшеничная молочная каша, сырники со сметаной и чай. Домик тёплый и уютный. Прекрасный вид на горы. Персонал очень приветливый. Всем советую!!! Хочется приехать к вам ещё . Спасибо
                        .wrapper-fio
                            .body-man
                                .body-man__img(style="background-image: url('img/image.png');")
                                .wrapper-ster-name
                                    .otz-star
                                        <div class="form__item">
                                        <div class="rating rating_set">
                                        <div class="rating__body">
                                        <div class="rating__active"></div>
                                        <div class="rating__items">
                                        <input type="radio" class="rating__item" value="1" name="rating">
                                        <input type="radio" class="rating__item" value="2" name="rating">
                                        <input type="radio" class="rating__item" value="3" name="rating">
                                        <input type="radio" class="rating__item" value="4" name="rating">
                                        <input type="radio" class="rating__item" value="5" name="rating">
                                        </div>
                                        </div>
                                        <div class="rating__value d-none">1</div>
                                        </div>
                                        </div>
                                    .otz-name Алла - 18/06/2019
                            a.otz-address(href="#") Туркомплекс «Горное Настроение»

                    .swiper-slide.otz-slide
                        p Хочу поделится приятными воспоминаниями об отдыхе, проведённом в туристическом комплексе горное настроение. У нас был прекрасный коттедж , вместимостью до 20 человек с сауной и бильярдной. В стоимость входит завтрак, у нас была пшеничная молочная каша, сырники со сметаной и чай. Домик тёплый и уютный. Прекрасный вид на горы. Персонал очень приветливый. Всем советую!!! Хочется приехать к вам ещё . Спасибо
                        .wrapper-fio
                            .body-man
                                .body-man__img(style="background-image: url('img/image.png');")
                                .wrapper-ster-name
                                    .otz-star
                                    .otz-name Алла - 18/06/2019
                            a.otz-address(href="#") Туркомплекс «Горное Настроение»

                    .swiper-slide.otz-slide
                        p Хочу поделится приятными воспоминаниями об отдыхе, проведённом в туристическом комплексе горное настроение. У нас был прекрасный коттедж , вместимостью до 20 человек с сауной и бильярдной. В стоимость входит завтрак, у нас была пшеничная молочная каша, сырники со сметаной и чай. Домик тёплый и уютный. Прекрасный вид на горы. Персонал очень приветливый. Всем советую!!! Хочется приехать к вам ещё . Спасибо
                        .wrapper-fio
                            .body-man
                                .body-man__img(style="background-image: url('img/image.png');")
                                .wrapper-ster-name
                                    .otz-star
                                    .otz-name Алла - 18/06/2019
                            a.otz-address(href="#") Туркомплекс «Горное Настроение»

                .otz-pagination
        .swiper-button-next.otz-button-next
        .swiper-button-prev.otz-button-prev
