.sec-tabs{
  padding: 10px 0 30px;
  .tabs-nav__item {
    @include adaptiv-font(20, 18);
    font-weight: bold;
  }
  .tabs-nav__item.is-active {
    font-weight: bold;
    color: $color_3;
    text-decoration: underline;

  }
  @include mq('tablet-wide') {
    .tabs-nav__item.is-active {
      font-weight: bold;
      color: $color_3;
      text-decoration: underline;
      padding: 15px 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 100%;
        height: 16px;
        background-color: $color_1;
        z-index: 5;
      }
    }
    .tabs__content {
      z-index: 2;
      padding: 35px 30px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

      .wrapper-price{
        height: auto;
        margin-bottom: 0;
        margin-left: 60px;
        @include maq('tablet-wide') {
          justify-content: flex-end;
        }
      }

    }
    .tabs__content {
      margin-top: 5px;
    }
  }
}

.additionaloptions .wrapper-price{
  @include maq('tablet-wide') {
    justify-content: flex-end;
  }
}

.tabs__content,.checkbox {


  .wrapper-price{
    height: auto;
    margin-bottom: 0;
  }

}


.specifications{
  p{
    @include adaptiv-font(16,14);
    margin-bottom: 20px;
  }
  span{
    @include adaptiv-font(16,14);
  }
  .specifications__title{
    font-weight: bold;
    @include adaptiv-font(18,18);
    margin-bottom: 20px;
  }
  a{
    color: $color_4;
    text-decoration: underline;
    font-weight: 500;
  }
}

.additionaloptions{
  .checkbox__label {
    width: 80%;
    @include mq('tablet-wide') {
      width: 50%;
    }

    & .namedop{
      margin-right: 25px;
    }

    &:before{
      margin: 3px 10px 0 0;
    }
    &:after{
      margin-top: 2px;
    }
  }
  .price-newse{
    margin-right: 10px;
    margin-left: 60px;

  }
}

.delivery-paymant{
  h2{
    @include adaptiv-font(18,16);
    font-weight: bold;
    margin-bottom: 15px;
  }
  p{
    @include adaptiv-font(16,14);
    margin-bottom: 15px;
  }
  ul{

    li{
      padding-left: 25px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $color_3;
      }
    }
  }
}


.body-description{
  display: none;
  @include mq('tablet-wide') {
    display: block;
  }
}

.body-description-mobile{
  @include mq('tablet-wide') {
    display: none;
  }
  .specifications{
    margin-bottom: 50px;
  }
  .dropDownList-title{
    color: $color_2;
    font-weight: bold;
    @include adaptiv-font(18,18);
    &.open{
      text-decoration: underline;
      color: $color_3;
    }
  }
}

.helper{
  position: relative;
  z-index: 15;
  .helper-ic{
    width: 15px;
    img{
      max-width: 100%;
      vertical-align: bottom;
    }
  }

  .helper-body{
    display: none;
    position: absolute;
    bottom: 76px;
    left: -111px;
    width: 280px;
    @include mq('tablet-wide') {
      width: 400px;
      bottom: 40px;
      left: -30px;
    }
    &.active{
      display: block;
    }
  }
  .helper-wrapper{
    position: relative;
    padding: 25px;
    background: rgba(27, 27, 43, 0.91);
    color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .helper-close{
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

@include mq('tablet-wide') {
  .helper{
    &:hover{
      .helper-body{
        display: block;

      }
    }
  }
}

