.sec-tabs{
  padding: 10px 0 90px;
  .tabs-nav__item {
    @include adaptiv-font(20, 18);
    font-weight: bold;
  }
  .tabs-nav__item.is-active {
    font-weight: bold;
    color: $color_3;
    text-decoration: underline;

  }
  @include mq('tablet-wide') {
    .tabs-nav__item.is-active {
      font-weight: bold;
      color: $color_3;
      text-decoration: underline;
      padding: 15px 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 100%;
        height: 16px;
        background-color: $color_1;
        z-index: 5;
      }
    }
    .tabs__content {
      z-index: 2;
      padding: 35px 30px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    .tabs__content {
      margin-top: 5px;
    }
  }
}
.specifications{
  p{
    @include adaptiv-font(16,14);
    margin-bottom: 20px;
  }
  span{
    @include adaptiv-font(16,14);
  }
  .specifications__title{
    font-weight: bold;
    @include adaptiv-font(18,18);
    margin-bottom: 20px;
  }

}

.additionaloptions{
  .checkbox__label {
    width: 100%;

    & .namedop{
      margin-right: 55px;
    }

    .price-newse{
      margin-right: 10px;
    }

    &:before{
      margin: 22px 10px 0 0;
    }
    &:after{
      margin-top: 21px;
    }
  }

}

.delivery-paymant{
  h2{
    @include adaptiv-font(18,16);
    font-weight: bold;
    margin-bottom: 15px;
  }
  p{
    @include adaptiv-font(16,14);
    margin-bottom: 15px;
  }
  ul{

    li{
      padding-left: 25px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $color_3;
      }
    }
  }
}


.body-description{
  display: none;
  @include mq('tablet-wide') {
    display: block;
  }
}

.body-description-mobile{
  @include mq('tablet-wide') {
    display: none;
  }
  .specifications{
    margin-bottom: 50px;
  }
  .dropDownList-title{
    color: $color_2;
    font-weight: bold;
    @include adaptiv-font(18,18);
    &.open{
      text-decoration: underline;
      color: $color_3;
    }
  }
}