.sec-slider-info {
  padding: 0 0 40px;
}

.body-slider-info{
  display: grid;
  grid-gap: 20px;
  @include mq('tablet-wide') {
    grid-template-columns: 1fr 1fr;
  }
}

.wrapper-slider-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  @include mq('tablet-wide') {
    grid-template-columns: 95px 1fr;
    padding-top: 24px;
  }
}

.body-slider-large {

  min-width: 0;

  .slider-large-slide {
    height: 280px;
    display: flex;
    justify-content: center;
    @include mq('tablet-wide') {
      height: 335px;
    }

    img {
      max-width: 100%;
      align-self: center;
      @include mq('tablet-wide') {
        max-width: 90%;
      }
    }
  }

}

.body-slider-little {
  min-width: 0;
  position: relative;

  @include mq('tablet-wide') {
    grid-area: -1;
    height: 365px;
    .slider-little-container{
      height: 365px;
    }
  }

  .slider-little-slide {

    @include maq('tablet-wide') {
      height: 85px;
    }

    img {
      max-width: 100%;
      @include maq('tablet-wide') {
        max-width: 80%;
      }
    }
  }
}

.price-card{
  margin-bottom: 20px;
}

.price-card__title{
  @include adaptiv-font(14,14);
  color: $color_6;
  margin-bottom: 5px;
}
.price-card__all{
  display: flex;

  .price-card__new{
    font-weight: bold;
    @include adaptiv-font(20,18);
    margin-right: 15px;

  }
  .price-card__old{
    font-weight: bold;
    @include adaptiv-font(12,12);
    color: $color_6;
    align-self: center;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $color_6;
      left: 0;
      transform: skew(0deg,-7deg) translateY(10px);
    }
  }
}

.availability-card{
  margin-bottom: 15px;

  .availability__circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .availability__text{
    @include adaptiv-font(14,14);
    font-style: italic;
    align-self: center;
  }
  .availability__yes{
    display: flex;
    color: #02C30E;
    .availability__circle{
      background-color: #02C30E;
    }
  }
  .availability__no{
    display: flex;
    color: #C30202;
    .availability__circle{
      background-color: #C30202;
    }
  }
}

.descriprion-card{
  span{
    @include adaptiv-font(16,14);
  }
}

.quantity-card{
  .card-info__number{
    border: 1px solid $color_6;
    width: 73px;
    padding: 5px;
  }
}

.wrapper-btn.card{
  .info__btn{
    margin-right: 25px;
  }
  width: 100%;
  flex-wrap: wrap;
  @include maq('tablet') {
    .info__btn{
      width: 100%;
      margin-bottom: 15px;
      margin-right: 0;
    }
    .info__btn-org{
      width: 100%;
    }
  }
}
.quantity-result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .result{
    font-size: 18px;
  }
}

.arrow-little{
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
  //z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 115%;


  .little-button-next,
  .little-button-prev{
    cursor: pointer;
  }
}