.sec-catalog {
  padding: 20px 0 30px;
  @include mq('tablet-wide') {
    padding: 20px 0 50px;
  }
}
  .popular-wrapper{
  @include mq('desktop') {
    display: grid !important;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  @include mq('desktop1350') {
    grid-template-columns:  repeat(4,  231px) !important;
  }
}

.card-catalog-el__img{
  border: 1px solid $color_1;
}

.card-catalog-el{
  &:hover{
    .card-catalog-el__img{
      border: 1px solid $color_3;
    }
    .card-catalog-el__title{
      color: $color_3;
    }
  }
}

.popular-slide{
  height: auto;
  .card-catalog-el{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }

  .card-catalog-el__img{

    margin: auto;
    img{
      max-width: 100%;
    }
  }
}



