
.first-screen{
  padding: 25px 0 25px;
  @include mq('tablet-wide') {
    padding: 50px 0 20px;
  }
}

.first-slide{
  display: flex;
  justify-content: center;
  img{
    max-width: 100%;
  }
  .swiper-lazy-preloader{
    margin: auto;
  }
}

.firstScreen-pagination{
  margin-top: 20px;
}
