
.first-screen{
  padding: 25px 0 25px;
  @include mq('tablet-wide') {
    padding: 15px 0 20px;
  }
}

.first-slide{
  display: flex;
  justify-content: center;
  img{
    max-width: 100%;
  }
  .swiper-lazy-preloader{
    margin: auto;
  }
}

.firstScreen-pagination{
  margin-top: 20px;
}

.body-first-screen{
  position: relative;
}

.arrow-first-screen{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 20px);

  .first-screen-button-next{
    transform: translateX(40px);
  }
  .first-screen-button-prev{
    transform: translateX(-40px);
  }
  @include maq('tablet-wide') {
    display: none;
  }
}

.firstScreen-pagination{
  @include mq('tablet-wide') {
    display: none;
  }
}
