.first-screen{
  padding: 25px 0 25px;
  @include mq('tablet-wide') {
    padding: 50px 0 30px;
  }
}

.first-slide{

  img{
    max-width: 100%;
  }
}

.swiper-pagination-bullet{
  border-radius: 0;
  width: 22px;
  height: 2px;
  background-color: $color_4;
}

.swiper-pagination-bullet-active{
  background-color: $color_3;
}