.body-cooki
    .wrapper-contant-cooki
        .contant-cooki__img
            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/cooki.png" data-src-small="img/ic/cooki.png" alt="")
        .contant-cooki__text
            p Этот сайт использует cookie и собирает про вас информацию чтоб потом выкинуть рекламу, надеюсь все согласны.
        .contant-cooki__btn.button Принять