section.sec-crumbs-page
    .container
        .body-crumbs
            ul
                li
                    a(href="#") Главная /

                li
                    a(href="#") 2 уровень /

                li 3 уровень