footer.footer
        .body-top-footer
            .container
                .wrapper-top-footer
                    .top-footer__title Напишите нам
                    .top-footer__soc
                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/whatsapp.svg" data-src-small="img/ic/img/ic/social/whatsapp.svg" alt="")
                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/viber.svg" data-src-small="img/ic/img/ic/social/viber.svg" alt="")


        .body-middle-footer
            .container
                .wrapper-middle-footer
                    .col-one
                        .middle-footer__logo
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Logo-w.png" data-src-small="img/ic/Logo-w.png" alt="")
                        .middle-footer__name Интернет-магазин холодильного оборудования
                        .middle-footer__address г. Краснодар, 350042,ул. Садовая, 218
                        a.middle-footer__mail(href="mailto:istholod@yandex.ru") istholod@yandex.ru
                        a.middle-footer__phone(href="tel:+78002010231") +7 (800) 201-02-31

                    ul.footer__menu
                        li
                            a(href="#") Каталог
                        li
                            a(href="#") Подбор оборудования
                        li
                            a(href="#") Монтаж
                        li
                            a(href="#") Акции
                    ul.footer__menu
                        li
                            a(href="#") Прайс
                        li
                            a(href="#") Контакты
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Купить в кредит
                    ul.footer__menu
                        li
                            a(href="#") Оплата
                        li
                            a(href="#") Доставка
                        li
                            a(href="#") Где купить
                        li
                            a(href="#") Блог
                    .fio
                        .time-work-soc
                            P <b>Время работы:</b>
                            P <b>Пн-Сб:</b> 8:00 - 20:00
                            P <b>Вс:</b> по договорённости
                        .soc-ic
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/instagram.svg" data-src-small="img/ic/social/instagram.svg" alt="")




        .body-bottom-footer
            .container
                .wrapper-bottom-footer
                    .cop © 2020 ООО “Магазин Слон”
                    a.pol(href="#") Политика конфиденциальности
                    a(href="#").lab
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Labsales.svg" data-src-small="img/ic/Labsales.svg" alt="")


