header.header
    .body-header-top
        .container
            .wrapper-header-top
                .header-toop__address г. Краснодар, 350042, ул. Садовая, 218
                nav.wrapper-menu-header-top
                    ul.menu
                        li
                            a(href="#") О компании

                        li
                            a(href="#") Купить в кредит

                        li
                            a(href="#") Оплата

                        li
                            a(href="#") Доставка

                        li
                            a(href="#") Где купить

                        li
                            a(href="#") Блог





    .body-header-middle
        .container
            .wrapper-header-middle
                .wrapper-logo
                    a(href="/").logo
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Logo.png" data-src-small="img/ic/Logo.png" alt="")
                .wrapper-search
                    input.header-search
                    img.header-search-ic(src="img/ic/search.svg"  alt="")
                .wrapper-phone-soc
                    .box-soc
                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/insta-color.svg" data-src-small="img/ic/social/insta-color.svg" alt="")

                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/header-phone.svg" data-src-small="img/ic/social/header-phone.svg" alt="")

                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/viber-header.svg" data-src-small="img/ic/social/viber-header.svg" alt="")

                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/header-whatsapp.svg" data-src-small="img/ic/social/header-whatsapp.svg" alt="")

                    .box-phone
                        a(href="tel:800000001") 8 800 000-00-01
                        a(href="tel:88000000001") 8 800 000-00-01




    .body-header-bottom
        .container
            .wrapper-header-bottom
                nav.wrapper-menu
                    ul.menu
                        li.link-menu.b-lazy(data-src="img/ic/catalog.svg")
                            a.second-menu Каталог
                            .wraper-menusecond
                                .secondlevwr
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                        li
                                            a(href="#") Низкотемпературные промышленные холодильные сплит-системы



                        li.link-menu.b-lazy(data-src="img/ic/equipment.svg")
                            a.second-menu Подбор оборудования

                        li.link-menu.b-lazy(data-src="img/ic/montage.svg")
                            a.second-menu Монтаж

                        li.link-menu.b-lazy(data-src="img/ic/sale.svg")
                            a.second-menu Акции

                        li.link-menu.b-lazy(data-src="img/ic/price.svg")
                            a.second-menu Прайс

                        li.link-menu.b-lazy(data-src="img/ic/contact-mail.svg")
                            a.second-menu Контакты
                .wrapper-lk-basket
                    a(href="#")
                        img.mt.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/lk.svg" data-src-small="img/ic/social/lk.svg" alt="")
                    a(href="#")
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/basket.svg" data-src-small="img/ic/basket.svg" alt="")
                        .col-vo-goods
                            span 25
    .body-header-mobile
        .container
            .wrapper-header-mobile
                .wrapper-logo
                    a(href="/").logo.logo-ic
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Logo.png" data-src-small="img/ic/Logo.png" alt="")
                    img.b-lazy.link-back(src="img/ic/back.svg" alt="")

                .wrapper-lk-basket
                    a(href="#")
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/search2.svg" data-src-small="img/ic/search2.svg" alt="")
                    a(href="#")
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/basket-b.svg" data-src-small="img/ic/basket-b.svg" alt="")
                        .col-vo-goods
                            span 55
                .wrapper-gamburger
                    button.cmn-toggle-switch.cmn-toggle-switch__htx
                        span toggle menu

                nav.wrapper-menu
                    ul.menu
                        li.link-menu.b-lazy(data-src="img/ic/catalog-b.svg")
                            a.second-menu Каталог
                            .ic-m1
                            .wraper-menusecond
                                .secondlevwr
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные
                                            .ic-m2
                                            ul.third-level
                                                li
                                                    a(href="#") Среднетемпературные
                                                li
                                                    a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                            .ic-m2
                                            ul.third-level
                                                li
                                                    a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                                li
                                                    a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                            .ic-m2
                                            ul.third-level
                                                li
                                                    a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                                li
                                                    a(href="#") Низкотемпературные промышленные холодильные сплит-системы
                                    ul.second-ul
                                        li.second-ul__title
                                            a(href="#") Промышленные холодильные сплит-системы
                                            .ic-m2
                                            ul.third-level
                                                li
                                                    a(href="#") Среднетемпературные промышленные холодильные сплит-системы
                                                li
                                                    a(href="#") Низкотемпературные промышленные холодильные сплит-системы



                        li.link-menu.b-lazy(data-src="img/ic/equipment-b.svg")
                            a.path-menu(href="#") Подбор оборудования

                        li.link-menu.b-lazy(data-src="img/ic/montage-b.svg")
                            a.path-menu(href="#") Монтаж

                        li.link-menu.b-lazy(data-src="img/ic/sale-b.svg")
                            a.path-menu(href="#") Акции

                        li.link-menu.b-lazy(data-src="img/ic/price-b.svg")
                            a.path-menu(href="#") Прайс

                        li.link-menu.b-lazy(data-src="img/ic/contact-mail-b.svg")
                            a.path-menu(href="#") Контакты

                    ul.memu-easy
                        li.link-menu
                            a.memu-easy-li(href="#") О компании
                        li.link-menu
                            a.memu-easy-li(href="#") Купить в кредит
                        li.link-menu
                            a.memu-easy-li(href="#") Контакты
                        li.link-menu
                            a.memu-easy-li(href="#") Контакты
                        li.link-menu
                            a.memu-easy-li(href="#") Контакты
                        li.link-menu
                            a.memu-easy-li(href="#") Контакт

                    .fio
                        .time-work-soc
                            P <b>Время работы:</b>
                            P <b>Пн-Сб:</b> 8:00 - 20:00
                            P <b>Вс:</b> по договорённости
                    .col-one
                        .middle-footer__address г. Краснодар, 350042,ул. Садовая, 218
                        a.middle-footer__mail(href="mailto:istholod@yandex.ru") istholod@yandex.ru
                        a.middle-footer__phone(href="tel:+78002010231") +7 (800) 201-02-31
                        a.soc-ic(href="#")
                            img.b-lazy(src="img/ic/social/instagram-b.svg"  alt="")











