header.header
    .body-header-top
        .container
            .wrapper-header-top
                .header-toop__address г. Краснодар, 350042, ул. Садовая, 218
                nav.wrapper-menu-header-top
                    ul.menu
                        li
                            a(href="#") О компании

                        li
                            a(href="#") Купить в кредит

                        li
                            a(href="#") Оплата

                        li
                            a(href="#") Доставка

                        li
                            a(href="#") Где купить

                        li
                            a(href="#") Блог





    .body-header-middle
        .container
            .wrapper-header-middle
                .wrapper-logo
                    a(href="/").logo
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Logo.png" data-src-small="img/ic/Logo.png" alt="")
                .wrapper-search
                    input.header-search
                .wrapper-phone-soc
                    .box-soc
                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/insta-color.svg" data-src-small="img/ic/social/insta-color.svg" alt="")

                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/header-phone.svg" data-src-small="img/ic/social/header-phone.svg" alt="")

                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/viber-header.svg" data-src-small="img/ic/social/viber-header.svg" alt="")

                        a(href="#")
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/social/header-whatsapp.svg" data-src-small="img/ic/social/header-whatsapp.svg" alt="")

                    .box-phone
                        a(href="tel:800000001") 8 800 000-00-01
                        a(href="tel:88000000001") 8 800 000-00-01
                .wrapper-lk-basket
                    a(href="#")
                        img.mt.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/lk.svg" data-src-small="img/ic/social/lk.svg" alt="")
                    a(href="#")
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/basket.svg" data-src-small="img/ic/basket.svg" alt="")



    .body-header-bottom
        .container
            .wrapper-header-bottom
                nav.wrapper-menu
                    ul.menu
                        li.link-menu.b-lazy(data-src="img/ic/equipment.svg")
                            a.second-menu Каталог
                            ul.second-ul
                                li
                                    a(href="#") Девочкам


                        li.link-menu.b-lazy(data-src="img/ic/equipment.svg")
                            a.second-menu Подбор оборудования

                        li.link-menu.b-lazy(data-src="img/ic/montage.svg")
                            a.second-menu Монтаж

                        li.link-menu.b-lazy(data-src="img/ic/sale.svg")
                            a.second-menu Акции

                        li.link-menu.b-lazy(data-src="img/ic/price.svg")
                            a.second-menu Прайс

                        li.link-menu.b-lazy(data-src="img/ic/contact-mail.svg")
                            a.second-menu Контакты









