.wrapper-btn-pagination
    .body-pagination
        .pagination__arrow-p
            svg(width="4" height="10" viewBox="0 0 4 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0 5L3.75 0.669872L3.75 9.33013L0 5Z" fill="#005176")
        ul.ul-pagination
            li.active
                a(href="#") 1
            li
                a(href="#") 2
            li
                a(href="#") 3
            li ...
            li
                a(href="#") 23

        .pagination__arrow-n
            svg(width="4" height="10" viewBox="0 0 4 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4 5L0.25 9.33013L0.25 0.669873L4 5Z" fill="#005176")




