section.sec-stocks
    .container
        .body-stocks
            a.stocks-card(href="#")
                .stocks-card__picture.b-lazy(data-src="img/card.png")
                .stocks-card__description
                    .stocks-card__title При заключении договора на сервисное обслуживание на 2 года скидка 10%
                    .stocks-card__text Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                    .stocks-card__more подробнее
            a.stocks-card(href="#")
                .stocks-card__picture.b-lazy(data-src="img/card.png")
                .stocks-card__description
                    .stocks-card__title При заключении договора на сервисное обслуживание на 2 года скидка 10%
                    .stocks-card__text Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                    .stocks-card__more подробнее
            a.stocks-card(href="#")
                .stocks-card__picture.b-lazy(data-src="img/card.png")
                .stocks-card__description
                    .stocks-card__title При заключении договора на сервисное обслуживание на 2 года скидка 10%
                    .stocks-card__text Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                                        | Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                    .stocks-card__more подробнее
            a.stocks-card(href="#")
                .stocks-card__picture.b-lazy(data-src="img/card.png")
                .stocks-card__description
                    .stocks-card__title При заключении договора на сервисное обслуживание на 2 года скидка 10%
                    .stocks-card__text Акция распространяется при единовременной покупке двух и более компрессорно-конденсаторных агрегатов...
                    .stocks-card__more подробнее


