.wrapper-product-list
    .body-product-list
        .product-list__title Состав заказа:
        .card-good
            .del-ic
                img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/del.svg" data-src-small="img/ic/del.svg" alt="")
            .wrapper-card-good
                .img-goods
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                .description
                    .goods-name Цветочная камера ISTCOOL FCR 386
                    .wrapper-price
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р

                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg" alt="")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg" alt="")


                .wrapper-dropDownList
                        .dropDownList-title Дополнительные опцции
                        .wrapper-price
                            .price-newse 84 051,67 р
                            .price-olde 84 051,67 р
                        .dropDownList-hidden(style="display: none;")
                            .checkbox
                                input#formAgreement( type="checkbox" name="agreement").checkbox__input._req
                                label(for="formAgreement").checkbox__label
                                    .namedop Освещение для цветочной камеры ISTCOOL
                                    .wrapper-price
                                        .price-newse 84 051,67 р
                                        .price-olde 84 051,67 р

                            .checkbox
                                input#formAgreement2( type="checkbox" name="agreement").checkbox__input._req
                                label(for="formAgreement2").checkbox__label
                                    .namedop Освещение для цветочной камеры ISTCOOL
                                    .wrapper-price
                                        .price-newse 84 051,67 р
                                        .price-olde 84 051,67 р
        .card-good
            .del-ic
                img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/del.svg" data-src-small="img/ic/del.svg" alt="")
            .wrapper-card-good
                .img-goods
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                .description
                    .goods-name Цветочная камера ISTCOOL FCR 386
                    .wrapper-price
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р

                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg" alt="")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg" alt="")


                .wrapper-dropDownList
                        .dropDownList-title Дополнительные опцции
                        .wrapper-price
                            .price-newse 84 051,67 р
                            .price-olde 84 051,67 р
                        .dropDownList-hidden(style="display: none;")
                            .checkbox
                                input#formAgreement( type="checkbox" name="agreement").checkbox__input._req
                                label(for="formAgreement").checkbox__label
                                    .namedop Освещение для цветочной камеры ISTCOOL
                                    .wrapper-price
                                        .price-newse 84 051,67 р
                                        .price-olde 84 051,67 р

                            .checkbox
                                input#formAgreement2( type="checkbox" name="agreement").checkbox__input._req
                                label(for="formAgreement2").checkbox__label
                                    .namedop Освещение для цветочной камеры ISTCOOL
                                    .wrapper-price
                                        .price-newse 84 051,67 р
                                        .price-olde 84 051,67 р
        .card-good
            .del-ic
                img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/del.svg" data-src-small="img/ic/del.svg" alt="")
            .wrapper-card-good
                .img-goods
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                .description
                    .goods-name Цветочная камера ISTCOOL FCR 386
                    .wrapper-price
                        .price-newse 84 051,67 р
                        .price-olde 84 051,67 р

                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg" alt="")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg" alt="")


                .wrapper-dropDownList
                        .dropDownList-title Дополнительные опцции
                        .wrapper-price
                            .price-newse 84 051,67 р
                            .price-olde 84 051,67 р
                        .dropDownList-hidden(style="display: none;")
                            .checkbox
                                input#formAgreement( type="checkbox" name="agreement").checkbox__input._req
                                label(for="formAgreement").checkbox__label
                                    .namedop Освещение для цветочной камеры ISTCOOL
                                    .wrapper-price
                                        .price-newse 84 051,67 р
                                        .price-olde 84 051,67 р

                            .checkbox
                                input#formAgreement2( type="checkbox" name="agreement").checkbox__input._req
                                label(for="formAgreement2").checkbox__label
                                    .namedop Освещение для цветочной камеры ISTCOOL
                                    .wrapper-price
                                        .price-newse 84 051,67 р
                                        .price-olde 84 051,67 р
        .wrapper-result
            .title-result Товаров на сумму:
            .kolvo 9 426 296,00 р
            .title-result Промокод:
            .kolvo Холодвжару
            .title-result Скидка:
            .kolvo.sale 1 208 415,66 р
            .title-result Доставка
            .kolvo 3 000 р
            .title-itog Итого:
            .itog-summ 8 217 880,34 р
        .block-payment
            .making-order-inputs__title Оплата
            .paymentRadio
                .type-payment
                    .options__item
                        input#formPayment1(checked type="radio" value="NaturalPerson" name="payment").options__input
                        label(for="formPayment1").options__label
                            span Оплата при получении (наложенным платежом)
                    .options__item
                        input#formPayment2( type="radio" value="formLegalEntity" name="payment").options__input
                        label(for="formPayment2").options__label
                            span Оплата по расчетному счету
                    .options__item
                        input#formPayment3(type="radio" value="NaturalPerson" name="payment").options__input
                        label(for="formPayment3").options__label
                            span Оплата картой

            .product-list__btn.button Оформить заказ