section.sec-favorites
    .container
        .body-favorites
            .favorites_el.catalog-item__card.catalog-card
                a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                    .catalog-card__sale 10%
                .news__price
                    .news__priceNew 50 000р
                    .news__priceOld 50 000р
                a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                ul.catalog-card__list
                    li.catalog-card__li
                        span.text Температурный режим в камере, °С:
                        span.num -25…-15
                    li.catalog-card__li
                        span.text Рекомендуемый объём холодильной камеры,м³:
                        span.num 28-36
                    li.catalog-card__li
                        span.text Номинальная холодопроизводительность:
                        span.num 3,34 Вт
                .catalog-card__btn.button Добавить в корзину
            .favorites_el.catalog-item__card.catalog-card
                a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                    .catalog-card__sale 10%
                .news__price
                    .news__priceNew 50 000р
                    .news__priceOld 50 000р
                a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                ul.catalog-card__list
                    li.catalog-card__li
                        span.text Температурный режим в камере, °С:
                        span.num -25…-15
                    li.catalog-card__li
                        span.text Рекомендуемый объём холодильной камеры,м³:
                        span.num 28-36
                    li.catalog-card__li
                        span.text Номинальная холодопроизводительность:
                        span.num 3,34 Вт
                .catalog-card__btn.button Добавить в корзину
            .favorites_el.catalog-item__card.catalog-card
                a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                    .catalog-card__sale 10%
                .news__price
                    .news__priceNew 50 000р
                    .news__priceOld 50 000р
                a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                ul.catalog-card__list
                    li.catalog-card__li
                        span.text Температурный режим в камере, °С:
                        span.num -25…-15
                    li.catalog-card__li
                        span.text Рекомендуемый объём холодильной камеры,м³:
                        span.num 28-36
                    li.catalog-card__li
                        span.text Номинальная холодопроизводительность:
                        span.num 3,34 Вт
                .catalog-card__btn.button Добавить в корзину
            .favorites_el.catalog-item__card.catalog-card
                a.catalog-card__img.b-lazy(data-src="img/main/news1.png" href="#")
                    .catalog-card__sale 10%
                .news__price
                    .news__priceNew 50 000р
                    .news__priceOld 50 000р
                a(href="#").catalog-card__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                ul.catalog-card__list
                    li.catalog-card__li
                        span.text Температурный режим в камере, °С:
                        span.num -25…-15
                    li.catalog-card__li
                        span.text Рекомендуемый объём холодильной камеры,м³:
                        span.num 28-36
                    li.catalog-card__li
                        span.text Номинальная холодопроизводительность:
                        span.num 3,34 Вт
                .catalog-card__btn.button Добавить в корзину

        include ./../../pug/basic/pagination