section.sec-price-list
        .container
            .body-price-list
                .price-list__el
                    .price-list__title Промышленные холодильные сплит-системы
                    .price-list__link.price-list--pdf
                        a(href="#" download) Прайс на промышленные сплит-системы.pdf
                .price-list__el
                    .price-list__title Промышленные холодильные сплит-системы
                    .price-list__link.price-list--word
                        a(href="#" download) Прайс на промышленные сплит-системы.pdf
                .price-list__el
                    .price-list__title Промышленные холодильные сплит-системы
                    .price-list__link.price-list--excel
                        a(href="#" download) Прайс на промышленные сплит-системы.pdf

