section.sec-advantages
    .container
        .advantages-title.title Наши преимущества
        .body-advantages
            .advantages__el
                .img-advantages
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/ic/ic1.svg" data-src-small="img/main/ic/ic1.svg" alt="")
                .description-advantages  Низкая цена
            .advantages__el
                .img-advantages
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/ic/ic1.svg" data-src-small="img/main/ic/ic1.svg" alt="")
                .description-advantages  Низкая цена
            .advantages__el
                .img-advantages
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/ic/ic1.svg" data-src-small="img/main/ic/ic1.svg" alt="")
                .description-advantages  Низкая цена
            .advantages__el
                .img-advantages
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/ic/ic1.svg" data-src-small="img/main/ic/ic1.svg" alt="")
                .description-advantages  Низкая цена
            .advantages__el
                .img-advantages
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/ic/ic1.svg" data-src-small="img/main/ic/ic1.svg" alt="")
                .description-advantages  Низкая цена
            .advantages__el
                .img-advantages
                    img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/ic/ic1.svg" data-src-small="img/main/ic/ic1.svg" alt="")
                .description-advantages  Низкая цена
