section.sec-banner
    .container
        .body-baner
            .swiper-container.banner-container
                .swiper-wrapper
                    .swiper-slide.banner-slide
                        picture
                            source( srcset="img/main/baner.png" type="image/png" media="(min-width:767px)")
                            source( srcset="img/main/baner-min.png" type="image/png" media="(max-width:766px)")
                            img.swiper-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/baner.png" data-src-small="img/main/baner.png" alt="")
                        .swiper-lazy-preloader
                    .swiper-slide.banner-slide
                        picture
                            source( srcset="img/main/baner.png" type="image/png" media="(min-width:767px)")
                            source( srcset="img/main/baner-min.png" type="image/png" media="(max-width:766px)")
                            img.swiper-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/baner.png" data-src-small="img/main/baner.png" alt="")
                        .swiper-lazy-preloader
                    .swiper-slide.banner-slide
                        picture
                            source( srcset="img/main/baner.png" type="image/png" media="(min-width:767px)")
                            source( srcset="img/main/baner-min.png" type="image/png" media="(max-width:766px)")
                            img.swiper-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/baner.png" data-src-small="img/main/baner.png" alt="")
                        .swiper-lazy-preloader
                    .swiper-slide.banner-slide
                        picture
                            source( srcset="img/main/baner.png" type="image/png" media="(min-width:767px)")
                            source( srcset="img/main/baner-min.png" type="image/png" media="(max-width:766px)")
                            img.swiper-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/baner.png" data-src-small="img/main/baner.png" alt="")
                        .swiper-lazy-preloader
                .banner-pagination.pagination
            .arrow-first-screen.arrow-banner
                .arrow-banner-button-prev
                    img(src="img/ic/arrow-l.svg")
                .arrow-banner-button-next
                    img(src="img/ic/arrow-r.svg")