section.sec-catalog
    .container
        .catalog-title.title Каталог популярных товаров
        .body-catalog-main
            .swiper-container.popular-container
                .swiper-wrapper.popular-wrapper
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера
                    .swiper-slide.popular-slide
                        .card-catalog-el
                            .card-catalog-el__img
                                img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2_1.png" data-src-small="img/main/2_1.png" alt="")
                            .card-catalog-el__title Холодильная цветочная камера

