section.first-screen
    .container
        .body-first-screen
            .swiper-container.firstScreen-container
                .swiper-wrapper.first-wrapper
                    .swiper-slide.first-slide
                        img(data-src="img/main/1_0.png").swiper-lazy
                        .swiper-lazy-preloader
                    .swiper-slide.first-slide
                            img(data-src="img/main/1_0.png").swiper-lazy
                            .swiper-lazy-preloader
                    .swiper-slide.first-slide
                            img(data-src="img/main/1_0.png").swiper-lazy
                            .swiper-lazy-preloader
                .firstScreen-pagination