section.sec-hit
    .container
        .title-duo__header
            .title-duo__title Хиты продаж
            .title-duo__additional-text Лучшие среди лучших

        .body-hit
            .tabs
                .wrapper-size.mobile
                    .wrapper-input
                        input(type="hidden" value="")
                        .choice-of-size.select-value.tabs-nav__itemText  Для  хранения овощей

                    .ii-product__selectors-wrp.js_size_selector
                        .wrapper-list
                            .list
                                .list__itams.tabs-nav__item.is-active(data-tab-name="tab-1") Для  хранения овощей
                                .list__itams.tabs-nav__item(data-tab-name="tab-2") Для  хранения фруктов
                                .list__itams.tabs-nav__item(data-tab-name="tab-3") Для  цветочных магазинов
                                .list__itams.tabs-nav__item(data-tab-name="tab-4") Для  кафе

                .tabs__nav.tabs-nav.desctop
                    .tabs-nav__item.is-active(data-tab-name="tab-1") Для  хранения овощей
                    .tabs-nav__item(data-tab-name="tab-2") Для  хранения фруктов
                    .tabs-nav__item(data-tab-name="tab-3") Для  цветочных магазинов
                    .tabs-nav__item(data-tab-name="tab-4") Для  кафе


                .tabs__content
                    .tab-pane.tab-1.is-active
                        .swiper-container.hit-container
                            .swiper-wrapper
                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                    .tab-pane.tab-2
                        .swiper-container.hit-container
                            .swiper-wrapper
                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                    .tab-pane.tab-3
                        .swiper-container.hit-container
                            .swiper-wrapper
                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                    .tab-pane.tab-4
                        .swiper-container.hit-container
                            .swiper-wrapper
                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину

                                .swiper-slide.hit-slide
                                    .news-el
                                        a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                            .news__sale -10%
                                        .news__price
                                            .news__priceNew 50 000р
                                            .news__priceOld 50 000р
                                        .news__descriptin Промышленная холодильная сплит-система ISTCOOL CSM 09 PRO²
                                        .news__btn.button Добавить в корзину



