section.sec-news
    .container
        .title-duo__header
            .title-duo__title Новинки
            .title-duo__additional-text Самые актуальные предложения
        .body-news-sl
            .swiper-container.news-container
                .swiper-wrapper
                    .swiper-slide.news-slide
                        .news-el
                            a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                .news__sale -10%
                            .news__price
                                .news__priceNew 50 000р
                                .news__priceOld 50 000р
                            .news__descriptin Промышленная холодильная сплит-система
                            .news__btn.button Добавить в корзину
                    .swiper-slide.news-slide
                        .news-el
                            a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                .news__sale -10%
                            .news__price
                                .news__priceNew 50 000р
                                .news__priceOld 50 000р
                            .news__descriptin Промышленная холодильная сплит-система
                            .news__btn.button Добавить в корзину
                    .swiper-slide.news-slide
                        .news-el
                            a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                .news__sale -10%
                            .news__price
                                .news__priceNew 50 000р
                                .news__priceOld 50 000р
                            .news__descriptin Промышленная холодильная сплит-система
                            .news__btn.button Добавить в корзину
                    .swiper-slide.news-slide
                        .news-el
                            a(href="#").news__img.swiper-lazy(data-background="img/main/news1.png")
                                .news__sale -10%
                            .news__price
                                .news__priceNew 50 000р
                                .news__priceOld 50 000р
                            .news__descriptin Промышленная холодильная сплит-система
                            .news__btn.button Добавить в корзину

                .news-pagination.pagination