section.sec-text-picture
    .container
        .body-text-picture
            .text-picture__img
                img.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/picture.png" data-src-small="img/main/picture.png" alt="")

            .text-picture__description
                h2 Интернет-магазин ISTCOOL
                p STCOOL – это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                p ООО «Источник Холода» - официальный дистрибьютор холодильного оборудования, выпускаемого в России под брендом ISTCOOL. Расчёт и монтаж, гарантия и сервис – всё это и даже больше у нас есть всегда, и всё, как обычно, в лучшем виде уже долгие годы!