section.sec-articles
    .container
        .body-articles
            a(href="#" itemscope itemtype="http://schema.org/Article").articles-el
                .articles__img( itemprop="image" itemtype="http://schema.org/ImageObject")
                    img.swiper-lazy.b-lazy( itemprop="url contentUrl" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date( itemprop="datePublished" datetime="18.02.2021") 18.02.2021
                .articles__title( itemprop="headline") Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description( itemprop="description" ) Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее
            a(href="#" itemscope itemtype="http://schema.org/Article").articles-el
                .articles__img( itemprop="image" itemtype="http://schema.org/ImageObject")
                    img.swiper-lazy.b-lazy( itemprop="url contentUrl" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date( itemprop="datePublished" datetime="18.02.2021") 18.02.2021
                .articles__title( itemprop="headline") Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description( itemprop="description" ) Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее
            a(href="#" itemscope itemtype="http://schema.org/Article").articles-el
                .articles__img( itemprop="image" itemtype="http://schema.org/ImageObject")
                    img.swiper-lazy.b-lazy( itemprop="url contentUrl" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date( itemprop="datePublished" datetime="18.02.2021") 18.02.2021
                .articles__title( itemprop="headline") Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description( itemprop="description" ) Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее
            a(href="#" itemscope itemtype="http://schema.org/Article").articles-el
                .articles__img( itemprop="image" itemtype="http://schema.org/ImageObject")
                    img.swiper-lazy.b-lazy( itemprop="url contentUrl" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date( itemprop="datePublished" datetime="18.02.2021") 18.02.2021
                .articles__title( itemprop="headline") Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description( itemprop="description" ) Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее




        .body-pagination
            include ./../../pug/basic/pagination
