section.sec-internal
    .container
        .body-internal
            .internal-img
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/article.png" data-src-small="img/article.png" alt="")
            .internal-article
                .internal-article__description
                    h2 Умное охлаждение.
                    p А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости  золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное
                    h3 Инженерное
                    p решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                    p “ООО «Источник Холода» - официальный дистрибьютор холодильного оборудования, выпускаемого в России под брендом ISTCOOL. Расчёт и монтаж, гарантия и сервис – всё это и даже больше у нас есть всегда, и всё, как обычно, в лучшем виде уже долгие годы!”
                    ol
                        li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                        li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                        li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                    h3 Инженерное
                    p ООО «Источник Холода» - официальный дистрибьютор холодильного оборудования, выпускаемого в России под брендом ISTCOOL. Расчёт и монтаж, гарантия и сервис – всё это и даже больше у нас есть всегда, и всё, как обычно, в лучшем виде уже долгие годы!
                    ul
                        li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота
                        li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота
                        li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золот