section.sec-read
    .container
        .read-title.title Читайте также
        .body-read
            a(href="#").articles-el
                .articles__img
                    img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date 18.02.2021
                .articles__title Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее

            a(href="#").articles-el
                .articles__img
                    img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date 18.02.2021
                .articles__title Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее

            a(href="#").articles-el
                .articles__img
                    img.swiper-lazy.b-lazy( src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/artic1.png" data-src-small="img/main/artic1.png" alt="")
                .articles__date 18.02.2021
                .articles__title Виды оттайки испарителей. Оттайка горячим газом.
                .articles__description Во время работы холодильной установки влага, содержащаяся в воздухе холодильной камеры, оседает...
                .articles__btnMore читать далее