.body-cooki{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: $color_1;
  z-index: 12;
  padding: 30px 50px;
  max-width: 950px;
  border: 1px solid $color_3;
}

.cooki-btn-close{
  position: absolute;
  top: 15px;
  right: 15px;
}

.wrapper-contant-cooki{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 35px;
  align-items: center;
}

.contant-cooki__img{

  img{
    max-width: 100%;
  }
}