.sec-crumbs-page{
  padding: 20px 0 5px;
  @include mq('desktop') {
    padding: 40px 0 10px;
  }
}

.body-crumbs{

  ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
    li{
      color: $color_3;
    }
  }
}