.header{
  z-index: 10;
}

.body-header-top{
padding: 20px 0;
}

.wrapper-header-top{
  display: flex;
  justify-content: space-between;
}

.header-toop__address{
  @include adaptiv-font(12,10);
}

.wrapper-menu-header-top{
  li{

    a{
      @include adaptiv-font(14,12);
      padding: 5px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.body-header-middle{
  padding: 20px 0;
}

.wrapper-header-middle{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 99px;
  grid-gap: 25px;
  @include mq('desktop-wide') {
    grid-gap: 56px;
  }
}

.logo{

  img{
    max-width: 100%;
  }
}

.header-search{
  width: 100%;
  padding: 3px 25px 3px 3px;
  background-position: 98% center;
  background-repeat: no-repeat;
  border: 1px solid $color_6;
}

.wrapper-phone-soc{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.box-soc{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 35px 35px;
}

.box-phone{
  display: grid;
  grid-gap: 13px;
  grid-template-columns: 1fr;
  align-items: center;
}

.wrapper-lk-basket{
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  a{
    display: block;
    padding:0 6px;
    position: relative;

    &:first-child{
      border-right: 1px solid $color_2;
      display: block;
      position: relative;
    }

    img{
      margin-top: 5px;
    }
    .mt{
      margin-top: 10px;
    }
    .col-vo-goods{
      width: 20px;
      height: 20px;
      //background: #00CCC2;
      position: absolute;
      bottom: 1px;
      right: 6px;
      display: flex;
      justify-content: center;
      @include mq('2.5K') {
        bottom: 2px;
        right: 5px;
      }
      @include maq('tablet-wide') {
        bottom: 2px;
      }

      span{
        @include adaptiv-font(10,10);
        align-self: center;
      }
    }
  }
}

.body-header-bottom{
  background-color: $color_4;
  padding: 20px 0;

  .link-menu{
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
  }
}

.body-header-top,
.body-header-middle,
.body-header-bottom{
  @include maq('tablet-wide') {
    display: none;
  }
}

.body-header-mobile{
  padding: 20px 0;

  @include mq('tablet-wide') {
    display: none;
  }
  .menu .link-menu{
    padding-left: 30px;
    background-size: 20px;
    background-position: left center;
    background-repeat: no-repeat;
  }
}

.wrapper-header-mobile{
  display: flex;
  justify-content: space-between;
  width: 100%;

  .wrapper-logo{
    flex: 0 0 126px;
    .logo{
      width: 100%;
      img{
        max-width: 100%;
      }
    }
  }
}

.wrapper-menu{
  .fio{
    padding-top: 20px;
    border-top: 1px solid $color_3;
    margin-bottom: 10px;
  }
  .col-one{
    .middle-footer__address{
      display: block;
      margin-bottom: 10px;
    }
    a{
      display: block;
      margin-bottom: 10px;
    }
  }
}
.wrapper-search{
  position: relative;
  .header-search-ic{
    top: 7px;
    right: 5px;
    position: absolute;
    cursor: pointer;
  }
}
