.body-pagination{
  padding: 50px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include maq('tablet') {
    justify-content: center;
  }
}

.ul-pagination{
  display: flex;


  li{
    display: flex;
    width: 30px;
    justify-content: center;
    margin-right: 5px;
    &:nth-child(4),&:hover:nth-child(4){
      border: none;
      line-height: 2.1;
    }
    &.active,&:hover{
      border: 1px solid $color_3;
    }
  }
  a{
    display: block;
    padding: 8px;
    line-height: 1;
    align-self: center;
  }
}

.pagination__arrow-n{
  margin-left: 10px;
}

.pagination__arrow-p{
  margin-right: 10px;
}