section.sec-montage
    .container
        .body-montage
            h2 Умное охлаждение.
            p А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости  золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное
            h3 Инженерное
            p решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
            p <i>“ООО «Источник Холода»</i> - официальный дистрибьютор холодильного оборудования, выпускаемого в России под брендом ISTCOOL. Расчёт и монтаж, гарантия и сервис – всё это и даже больше у нас есть всегда, и всё, как обычно, в лучшем виде уже долгие годы!”
            ol
                li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.
                li это умное охлаждение. А умное охлаждение не значит дорого и сложно, но оптимально и разумно! ISTCOOL – «Золотая середина» не из-за высокой стоимости золота, но желанная середина – грамотно рассчитанное и выверенное практикой инженерное решение, которое лежит между излишним и недостаточным, драгоценным и фальшивым, вечным и мимолётным.